/* Jumbotron template */
body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.alert {
	margin-top: 20px;
}

.forum_index {
	border: 3px solid #EEEEEE;
	border-radius: 5px;
	padding: 0 12px 0 12px;
}

.forum_index .forum + .forum {
	border-top: 3px solid #EEEEEE;
}

.forum {
    padding: 10px 0 10px 0;
}

.forum:hover {
    background-color: #EEEEEE;
}

.forum_heading {
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid #EEEEEE;
}

.forum .col-xs-1, .forum .col-xs-2 {
    text-align: center;
}

/* Forum */

.thread .row {
	background-color: #EEEEEE;
}

.logged_user {
	color: #000000;
}

/* Grid */