/* Jumbotron template */
body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.alert {
	margin-top: 20px;
}

.forum_index {
	border: 3px solid #EEEEEE;
	border-radius: 5px;
}

/* Forum */

.thread .row {
	background-color: #EEEEEE;
}

.logged_user {
	color: #000000;
}

/* Grid */