{% extends 'forums/base.html' %}

{% load static %}

{% block title %}{{ forum_title }}{% endblock %}

{% block body_block %}
<div class="thread_index">
	{% if threads %}
	<div class="row thread_heading">
		<div class="col-sm-8">Thread</div>
		<div class="col-xs-1 hidden-xs">Author</div>
		<div class="col-xs-1 hidden-xs">Replies</div>
		<div class="col-xs-2 hidden-xs">Last Post</div>
	</div>
	{% for thread in threads %}
	<div class="row thread">
		<div class="col-sm-8">
			<h5><a href="/forums/{{ forum.url }}/{{ thread.url }}">{{ thread.title }}</a></h5>
		</div>
		<div class="col-xs-1 hidden-xs">
			{{ thread.user }}
		</div>
		<div class="col-xs-1 hidden-xs">
			{{ thread.num_replies }}
		</div>
		<div class="col-xs-2 hidden-xs">
			{{ thread.last_post|date:"M d, Y m:s a" }}
		</div>
	</div>
	{% endfor %}
	{% else %}
	There are no threads here.
	{% endif %}
</div>
<a href="/forums/{{ forum.url }}/create_thread/" class="btn btn-primary" type="submit">New Thread</a>
{% endblock %}