{% extends 'forums/base.html' %}

{% load static %}

{% block title %}{{ forum_title }}{% endblock %}

{% block body_block %}
<div class="thread_index">
{% if threads %}
  <table class="table table-hover">
	<thead>
	  <tr>
		<th class="text-center">Thread</th>
		<th class="text-center">Author</th>
		<th class="text-center">Replies</th>
		<th class="text-center">Last post</th>
	  </tr>
	</thead>
	<tbody>
	{% for thread in threads %}
	  <tr>
		<td>
			<h4><a href="/forums/{{ forum.url }}/{{ thread.url }}">{{ thread.title }}</a></h4>
		</td>
		<td class="text-center">{{ user.username }}</td>
		<td class="text-center">{{ thread.num_replies }}</td>
		<td class="text-center">{{ thread.last_post|date:"M d, Y m:s a" }}</td>
	  </tr>
	{% endfor %}
{% else %}
	There are no threads here.
{% endif %}
	</tbody>
  </table>
</div>
<hr>
<a href="/forums/{{ forum.title|slugify }}/create_thread/" class="btn btn-default btn-sm" type="submit">New Thread</a>
{% endblock %}