{% extends 'forums/base.html' %}

{% load static %}

{% block title %}Index{% endblock %}

{% block shoutbox %}This is the index's shoutbox{% endblock %}

{% block body_block %}
<div class="forum_index">
{% if forum_list %}
  <table class="table table-hover">
	<thead>
	  <tr>
		<th class="text-center">Forum</th>
		<th class="text-center">Threads</th>
		<th class="text-center">Posts</th>
		<th class="text-center">Last post</th>
	  </tr>
	</thead>
	<tbody>
	{% for forum in forum_list %}
	  <tr>
		<td>
			<h4><a href="/forums/{{ forum.url|urlencode }}">{{ forum.title }}</a><br /></h4><br />
			<p>{{ forum.description }}</p>
		</td>
		<td class="text-center">{{ forum.num_threads }}</td>
		<td class="text-center">{{ forum.num_posts }}</td>
		<td class="text-center">{{ forum.last_post|date:"M d, Y m:s a" }}</td>
	  </tr>
	{% endfor %}
{% else %}
	There are no forums here.
{% endif %}
	</tbody>
  </table>
</div>
{% endblock %}