{% extends 'forums/base.html' %}

{% load static %}

{% block title %}Index{% endblock %}

{% block shoutbox %}This is the index's shoutbox{% endblock %}

{% block body_block %}
<div class="forum_index">
	{% if forum_list %}
	<div class="row forum_heading">
		<div class="col-sm-8">
			Forum
		</div>
		<div class="col-xs-1 hidden-xs">
			Threads
		</div>
		<div class="col-xs-1 hidden-xs">
			Posts
		</div>
		<div class="col-xs-2 hidden-xs">
			Last Post
		</div>
	</div>
		{% for forum in forum_list %}
		<div class="row forum">
			<div class="col-sm-8">
				<h4 class="forum_title"><a href="/forums/{{ forum.url }}">{{ forum.title }}</a></h4>
				<h5>{{ forum.description }}</h5>
			</div>
			<div class="col-xs-1 hidden-xs">
				{{ forum.num_threads }}
			</div>
			<div class="col-xs-1 hidden-xs">
				{{ forum.num_posts }}
			</div>
			<div class="col-xs-2 hidden-xs">
				{{ forum.last_post|date:"M d, Y m:s a" }}
			</div>
		</div>
		{% endfor %}
	{% else %}
		There are no forums here.
	{% endif %}
</div>
{% endblock %}