{% extends 'forums/base.html' %}

{% load static %}

{% block title %}Reply{% endblock %}

{% block body_block %}
<form id="post_form" method="post" action="/forums/{{ forum_url }}/{{ thread_url }}/reply/" class="form-horizontal">
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
	{{ hidden }}
	{% endfor %}
	<div class="form-group">
		<label for="id_content" class="col-sm-2 control-label">Content</label>
		<div class="col-sm-10">
			{{ post_form.content }}
		</div>
		{% if post_form.content.errors %}
		{{ post_form.content.errors.as_text }}
		{% endif %}
	</div>
	<input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}